# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.history/
node_modules/.cache/default-development/
node_modules/.cache/babel-loader/18b43bbb5586f1d181b47033ca13f6f2.json
node_modules/.cache/babel-loader/
